
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
POSTGRES_DB=rwa_db

DATABASE_URL=postgresql://postgres:change_me@postgres:5432/rwa_db?schema=public

JWT_SECRET=change_me_to_a_long_random_value
BACKEND_PORT=3000
FRONTEND_PORT=4200
